@media screen and (max-width: 1200px) {
    #sp-header .sp-default-logo {
        display: block !important;
    }
    .navbar {
        /* width: 90vw; */
        display: flex;
        flex-direction: column;
        margin-bottom: 137px;
        /* height: 19px; */
    }
    .desk {
        display: none;
    }
    .mobile {
        border: 2px solid rgb(160, 151, 151);
        background-color: black;
        width: 8vw;
        padding: 7px 29px;
        padding-right: 38px;
        border-radius: 59px;
        text-align: center;
        font-size: x-large;
        display: block;
        align-self: center;
    }
    .l a {
        text-decoration: none;
        color: white;
    }
    .nav-left {
        /* height: 12px; */
        flex-direction: column;
        text-align: center;
    }
    .nav-left span {
        margin: -4px 0px;
    }
    .content-right {
        display: none;
    }
    .home-articles {
        width: 100vw;
    }
    .home-articles h2 {
        text-align: center;
    }
    .home-article {
        padding: 1px 12px;
        /* text-align: center; */
        flex-direction: column;
    }
    .home-article h2 {
        text-align: center;
    }
    .home-article-content {
        text-align: center;
        width: 50vw;
    }
    .home-article-img {
        text-align: center;
    }
    .home-article-img img {
        width: 40vw;
        height: 40vw;
    }
    .form-input {
        margin: 1px 2px;
        padding: 1px 5px;
        height: 9vw;
        border-radius: 6px;
        width: 25vw;
    }
    .btn {
        margin: 1px 2px;
        padding: 1px 5px;
        height: 8vw;
        border-radius: 8px;
        width: 22vw;
    }
    .form-input textarea {
        width: 60vw;
    }
    .form-input btn {
        text-align: center;
    }
}